<div>
  <input (click)='decrement()'
         type="button"
         [disabled]='atChange$|async'
         class='btn btn-primary btn-sm'
         value='-'>
  <span> {{count$|async}} </span>
  <input (click)='increment()'
         type="button"
         class='btn btn-primary btn-sm'
         value='+'>
</div>
<p></p>
<div>
  <input (click)='reset()'
         type='button'
         [disabled]='atStart$|async'
         class='btn btn-primary'
         value='Reset'>
</div>
<div>
  <input type="button"
         (click)='setCountBy(1)'
         [disabled]='(countingBy$ | async) ===1'
         class="btn btn-primary btn-sm"
         value='Count by 1'>
  <input type="button"
         (click)='setCountBy(3)'
         [disabled]='(countingBy$ | async) ===3'
         class="btn btn-primary btn-sm"
         value='Count by 3'>
  <input type="button"
         (click)='setCountBy(5)'
         [disabled]='(countingBy$ | async) ===5'
         class="btn btn-primary btn-sm"
         value='Count by 5'>
</div>
