
.page-footer {
background-color:blanchedalmond;
position: absolute;
bottom: 0;
text-align: center;
height: 40px;
}

/* https://github.com/JeffryGonzalez/few200-mar19-jmg  */
/* https://github.com/SVP2019/few200-march19-svp  */
