<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['current']"
       [routerLink]="['dashboard']">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['current']"
       [routerLink]="['communications']">Communications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['current']"
       [routerLink]="['redux-demo']">Redux Demo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['current']"
       [routerLink]="['todo-list']">ToDo List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['current']"
       [routerLink]="['library']">Library</a>
  </li>
</ul>
